head
  title mvcr

body
  .container
    .row
      +templ
      each cs
        h1= this.c
        +quickForm collection=this.co id=this.f type="insert"
        +tabular table=this.t class='table'
        hr

template(name='templ')
  h1 works